:root {
  --gap: 5px;
  --botao-e: rgb(161, 255, 181);
  --botao-d: rgb(255, 217, 161);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background-color: #f0f0f0;*/
  /*background-color: red;*/
  width: 600px;
  max-width: 90vw;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  /*width: 600px;*/
  width: 100%;
  gap: var(--gap);
}

.input_bar {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  font-size: medium;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input_bar:focus {
  outline: none;
}

.user_title {
  display: flex;
  width: 100%;
  height: 40px;
  gap: var(--gap);
}

.input_user {
  height: 100%;
  width: 40%;
}

.input_title {
  height: 100%;
  width: 60%;
}

.input_body {
  text-align: start;
  width: 100%;
  height: 100px;
  resize: none;
}


.tags_container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--gap);
}


.botao {
  width: 100%;
  height: 40px;

  margin-top: 10px;
  background-color: var(--botao-e);
  color: #535353;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: 1;
}

.botao:disabled {
  cursor: not-allowed;
  background-color: var(--botao-d);
}
