:root {
  --gap: 5px;
  --botao-e: rgb(161, 255, 181);
  --botao-d: rgb(255, 217, 161);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  width: 600px;
  max-width: 90vw;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 100%;
  gap: var(--gap);
}

.input_bar {
  background-color: #ffffff;
  flex: 1;
  padding: 10px;
  border: none;
  font-size: medium;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input_bar:focus {
  outline: none;
}

.search_bar {
  display: flex;
  width: 100%;
  height: 40px;
  gap: var(--gap);
}

.input_tags {
  height: 100%;
  flex: 1;
}

button {
  font-size: medium;
  margin-top: 0px;
  background-color: var(--botao-e);
  color: #535353;
  height: 100%;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--botao-d);
}
