:root {
  --header-height: 56px;
  --header-color: #2c2c2c;
}

.container {
  width: 100%;
  /*height: 100vh;*/
  height: fit-content;
  overflow-x: hidden;
}

.children {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  /*background-color: aqua;*/
  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.1"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');

}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-color);

  justify-content: space-between;

  padding: 0 16px;
  z-index: 5;
}

.topbar::after {
  content: "";
  position: absolute;
  
  bottom: calc((-1) * var(--header-gradient));
  left: 0;
  height: var(--header-gradient);
  width: 100%;
  background: linear-gradient(180deg, var(--header-color), rgba(255, 255, 255, 0) 100%);
}

.header_title {
  color: #fff;
  height: 100%;
  margin: 8px;
  font-size: 32px;
  padding: 0;
  text-decoration: none;

  justify-content: center;
  align-items: center;

  text-align: center;
  line-height: 48px;
  font-weight: bolder;
}

.post_button {
  /*color: #fff;*/
  color: white;
  height: 100%;
  margin: 8px;
  font-size: 15px;
  padding: 5px 0px;

  line-clamp: none;

  justify-content: center;
  align-items: center;

  text-align: center;
  line-height: 20px;
  font-weight: bolder;
}



.header_title span {
  position: absolute;
  margin-left: 8px;
  margin-top: 4px;
}

.header_title:hover {
  opacity: 0.85;
}


.search_post {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
  max-width: 400px;
  margin-right: 5vw;
}

.searchbar_container {
  position: relative;
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  background-color: #ffffff7e;
  border: 1px solid #ccc;
  flex: 1;
  width: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 250ms all linear;
  -webkit-transition: 250ms all linear;
  -moz-transition: 250ms all linear;
  -ms-transition: 250ms all linear;
  -o-transition: 250ms all linear;
}

.clear_bar{
  height: 100%;

  color: rgba(0, 0, 0, 0.37);
  background-color: transparent;

  display: none;
  
  margin: 0;
  outline: none;
  border: none;

  position: absolute;
  right: 60px;
  top: 0px;
}


.search_button {
  width: 48px;
  height: 100%;

  display: none;
  
  background-color: rgba(224, 224, 224, 0.671);
  margin: 0;
  outline: 1px solid #ccc;
  border: none;

  position: absolute;
  right: 0px;
  top: 0px;
}

.search_button:focus {
  outline: 1px solid #ccc;
}


.text_input {
  font-size: 1em;
  padding: 8px 16px;

  flex: 1;

  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;

  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.text_input:focus {
  outline: none;
}

/*
input:not(:placeholder-shown) {
  background-color: rgb(243, 243, 243);
}
*/


@media (max-width: 960px) {

  .header_title span {
    display: none;
  }
}